% rebase('base.html', izbrani_zavihek='dobicek')

<div class="columns is-mobile is-multiline">
    <div class="column is-one-third">
      <nav class="panel">
        <p class="panel-heading">
          <i class="far fa-credit-card"></i>
          Dobiček na izdelku
        </p>
        <div class="panel">
          <form action="/dobicek-izdelek/" method="POST">
            <div class="field">
              <input class="input" type="text" name="kategorija" placeholder="Ime kategorije">
            </div>
            <div class="field">
              <input class="input" type="text" name="izdelek" placeholder="Ime izdelka">
            </div>
            <div class="field">
              <div class="control">
                <button class="button is-primary is-fullwidth" class="button is-danger">Izračunaj dobiček</button>
              </div>
            </div>
            % if dobicek_izd:
            <div style="color: black">{{sporocilo}}</div>
            % end
          </form>
        </div>
      </nav>
    </div>
    <div class="column is-one-third">
        <nav class="panel">
          <p class="panel-heading">
            <i class="fas fa-wallet"></i>
            Dobiček na kategorijo
          </p>
          <div class="panel">
            <form action="/dobicek-kategorija/" method="POST">
              <div class="field">
                % include('_prenesi_kategorijo.html', id='kategorija', oznaka='Kategorija')
              </div>
              <div class="field">
                <div class="control">
                  <button class="button is-primary is-fullwidth" class="button is-danger">Izračunaj dobiček</button>
                </div>
              </div>
              % if dobicek_kat:
              <div style="color:black">{{sporocilo}}</div>
              % end
            </form>
          </div>
        </nav>
      </div>
      <div class="column is-one-third">
        <nav class="panel">
          <p class="panel-heading">
            <i class="fas fa-coins"></i>
            Celoten dobiček
          </p>
          <div class="panel">
            <form action="/celoten-dobicek/" method="POST">
              <div class="field">
                <div class="control">
                  <button class="button is-primary is-fullwidth" class="button is-danger">Izračunaj dobiček</button>
                </div>
              </div>
              % if celoten_dobicek:
              <div style="color: black;">{{sporocilo}}</div>
              % end
            </form>
          </div>
        </nav>
      </div>
      