% rebase('base.html', izbrani_zavihek='izdelki')

<div class="columns is-mobile is-multiline">
    <div class="column is-one-fifth">
      <nav class="panel">
        <p class="panel-heading">
          <i class="fas fa-exchange-alt"></i>
          Prenesi izdelek
        </p>
        <div class="panel-block">
          <form action="/prenesi-izdelek/" method="POST">
            <div class="field">
              % include('_prenesi_kategorijo.html', id='kategorija1', oznaka='Prenesi iz', icon='fas fa-sign-out-alt')
            </div>
            <div class="field">
              % include('_prenesi_kategorijo.html', id='kategorija2', oznaka='Prenesi v', icon='fas fa-sign-in-alt')
            </div>
            <div class="field has-addons">
              <div class="control">
                % include('_prenesi_izdelek.html', id='izdelek', oznaka='Izdelek')
              </div>
              <div class="control">
                <button class="button is-info is-small">Prenesi</button>
              </div>
            </div>
          </form>
        </div>
      </nav>
      <nav class="panel">
        <p class="panel-heading">
          <i class="fas fa-trash-alt"></i>
          Odstrani izdelek
        </p>
        <div class="panel-block">
          <form action="/odstrani-izdelek/" method="POST">
            <div class="field">
              <input class="input" type="text" name="kategorija" placeholder="Ime kategorije">
            </div>
            <div class="field">
              <input class="input" type="text" name="ime" placeholder="Ime izdelka">
            </div>
            <div class="field">
              <div class="control">
                <button class="button is-danger is-light is-fullwidth" class="button is-danger">Odstrani izdelek</button>
              </div>
            </div>
          </form>
        </div>
      </nav>
      <nav class="panel">
        <p class="panel-heading">
          <i class="fas fa-clipboard-check"></i>
          Preveri zalogo
        </p>
        <div class="panel-block">
          <form action="/sestej/" method="POST">
            <div class="field">
              <input class="input" type="text" name="kategorija" placeholder="Ime kategorije">
            </div>
            <div class="field">
              <input class="input" type="text" name="izdelek" placeholder="Ime izdelka">
            </div>
            <div class="field">
              <div class="control">
                <button class="button is-fullwidth is-info is-light" class="button">Preveri zalogo</button>
                % if vse_OK == True:
                <div style="color: green">{{sporocilo}}</div>
                % elif vse_OK == False:
                <div style="color: red">{{sporocilo}}</div>  
                % end
              </div>
            </div>
          </form>
        </div>
      </nav>
    </div>

    <div class="column is-two-fifth">
      <table class="table is-fullwidth">
        <div class="tile is-child box">
          <p class="title">Izdelki</p>
        </div>
        <thead>
          <tr>
            <th>Kategorija</th>
            <th>Izdelek</th>
            <th>Nabavna cena (€)</th>
            <th>Prodajna cena (€)</th>
            <th>Količina</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <form action="/dodaj-izdelek/" method="POST">
            <tr>
              <td>
                <input class="input" type="text" name="kategorija">
              </td>
              <td>
                <input class="input" type="text" name="izdelek">
              </td>
              <td>
                <input class="input" type="text" name="nabavna">
              </td>
              <td>
                <input class="input" type="text" name="prodajna">
              </td>
              <td>
                <input class="input" type="text" name="kolicina">
              </td>
              <td>
                <div class="control">
                  <button class="button is-info is-small">Dodaj</button>
                </div>
              </td>
            </tr>
          </form>
          % for izdelek, podatki in inventura.izdelki.items():
            <tr>
              <td>{{izdelek[0]}}</td>
              <td>{{izdelek[1]}}</td>
              <td>{{podatki[0]}}</td>
              <td>{{podatki[1]}}</td>
              <td>{{podatki[2]}}</td>
              <td></td>
            </tr>
          % end
        </tbody>
      </table>
    </div>

    <div class="column is-4">
      <table class="table is-fullwidth">
        <div class="tile is-child box">
          <p class="title">Inventure</p>
        </div>
        <thead>
          <tr>
            <th>Kategorija</th>
            <th>Ime izdelka</th>
            <th>Količina zaloge</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <form action="/dodaj-inventuro/" method="POST">
            <tr>
              <td>
                <input class="input" type="text" name="kategorija">
              </td>
              <td>
                <input class="input" type="text" name="izdelek">
              </td>
              <td>
                <input class="input" type="text" name="kolicina">
              </td>
              <td>
                <div class="control">
                  <button class="button is-info is-small">Dodaj</button>
                </div>
              </td>
            </tr>
          </form>
          % for izdelek, presteto in inventura.inventura.items():
            <tr>
              <td>{{izdelek[0]}}</td>
              <td>{{izdelek[1]}}</td>
              <td>{{presteto}}</td>
              <td></td>
            </tr>
          % end
        </tbody>
      </table>
    </div>
</div>
