% rebase('base.html', izbrani_zavihek='pomoc')

<div class="tile is-ancestor">
    <div class="tile is-parent">
      <article class="tile is-child box">
        <p class="title">Inventura</p>
        <p>Inventura je program, ki vam omogoča vodenje inventure in računanje dobičkov.</p>
        <p>Na voljo je dodajanje izdelkov, računov in inventur. Program preveri ali se količine ujemajo in izračuna vaš zaslužek.</p>
        <p>Za stvari v zvezi z izdelki in inventurami izberite <strong><i>Pregled izdelkov in inventur</i></strong>.</p>
        <p>Za pregled in dodajanje računov izberite <strong><i>Vsi računi</i></strong>.</p>
        <p>Za računanje dobičkov izberite <strong><i>Računanje dobička</i></strong>.</p>
      </article>
    </div>
    <div class="tile is-parent">
        <article class="tile is-child box">
          <p class="title">Pregled izdelkov in inventur</p>
          <p>Na voljo sta dve tabeli, prva je za pregled izdelkov, druga pa za inventure.</p>
          <p>V prvi se prikazujejo izdelki, ki ste jih dodali, zdraven pa še kategorija pod katero spadajo, nabavna in prodajna cena, ter količina (koliko izdelka je na zalogi).</p>
          <p>V drugi pa so prikazane opravljene inventure, torej koliko izdelkov je še ostalo po njihovem štetju.</p>
          <p>V obe tabeli lahko <strong>dodajate izdelke/inventure</strong>, to storite tako da v posamezno polje vnesete tisti podatek, ki ga to polje zahteva.</p>
          <p>Na voljo pa imate še >prenos izdelkov, odstranitev izdelka in preverjanje zaloge.</p> 
          <p><strong>Prenos izdelkov</strong> lahko uporabite kadar želite nek izdelek prenesti iz ene kategorije v drugo, pri tem se bodo prenesli tudi vsi računi (popravila se bo kategorija).</p>
          <p><strong>Odstrani izdelek</strong> uporabite, ko izdelka ne želite imeti več, npr.ste se zmotili pri vnosu, ste ga odstranili iz prodaje</p>
          <p><strong>Preveri zalogo</strong> pa uporabite po opravljeni inventuri za posamezen izdelek, s tem boste preverili ali se vse ujema, če se ne je možnost, da ste narobe prešteli, da vam je kdo ukradel nekaj izdelkov...</p>
        </article>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child box">
          <p class="title">Vsi računi</p>
          <p>Na voljo je tabla, v kateri so prikazani računi, ki ste jih dodali.</p>
          <p>V obe tabeli lahko <strong>dodajate račune</strong>, to storite tako da v posamezno polje vnesete tisti podatek, ki ga to polje zahteva.</p>
          <p>Na voljo pa imate še <strong>storniranje računa</strong>. To uporabite takrat, kadar ste se zmotili pri vnašanju računa. Pri tem vpišite ime kategorija in izdelka za katerega želite popraviti račun in pa popravljene podatke.</p> 
        </article>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child box">
          <p class="title">Računanje dobička</p>
          <p>Na voljo je računanje dobička za posamezen izdelek, kategorijo ali pa celoten dobiček.</p>
          <p>Računanje dobička <strong>za izdelek</strong> uporabite, ko želite izračunati, koliko dobička vam je prinesel da izdelek. Pri tem vnesite ime izdelka in kategorijo pod katero spada.</p>
          <p>Računanje dobička <strong>za kategorijo</strong> uporabite, ko želite izračunati, koliko ste zaslužili s posamezno kategorijo. Pri tem vnesite ime kategorije, za katero vas dobiček zanima.</p> 
          <p><strong>Celoten dobiček</strong> pa izračunate tako, da kliknete na gumb izračunaj dobiček.</p>
        </article>
      </div>
